{% extends "MatesApp/padre.html" %}

{% load static %}

{% block contenido_que_cambia %}



<div class="text-center">
    <img height="100px" src="{{url}}">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1>BUSCADOR DE YERBAS</h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
            

    
    
                <a class="btn btn-danger" href="busquedamarca">Buscar por Marca</a></li>
                <a class="btn btn-danger" href="busquedatipo">Buscar por Tipo de Yerba</a></li>
                <a class="btn btn-danger" href="busquedapeso">Buscar por Peso (gramos)</a></li>
                


{% endblock %}